nodered/config/.flows.json.backup
[{"id":"fb78e68a.03f21","type":"tab","label":"Flow 1"},{"id":"b8db8e04.06efa8","type":"tab","label":"Flow 2"},{"id":"1885a826.a7dde8","type":"inject","z":"fb78e68a.03f21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":164.5,"y":200,"wires":[["fb2b9893.63d588"]]},{"id":"fb2b9893.63d588","type":"debug","z":"fb78e68a.03f21","name":"","active":true,"console":"false","complete":"true","x":575.5,"y":199,"wires":[]},{"id":"58ff22ff.aa2724","type":"http in","z":"b8db8e04.06efa8","name":"","url":"/search","method":"get","swaggerDoc":"","x":143.5,"y":215,"wires":[["add052d8.b5b0d"]]},{"id":"fa3a915d.bd9d3","type":"http response","z":"b8db8e04.06efa8","name":"","x":146.5,"y":462,"wires":[]},{"id":"add052d8.b5b0d","type":"change","z":"b8db8e04.06efa8","name":"prep query","rules":[{"t":"set","p":"payload.query","pt":"msg","to":"{\"match_phrase\": {}}","tot":"json"},{"t":"move","p":"payload.q","pt":"msg","to":"payload.query.match_phrase.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":151.5,"y":285,"wires":[["5d57d1d2.46e948"]]},{"id":"5d57d1d2.46e948","type":"http request","z":"b8db8e04.06efa8","name":"get/books","method":"POST","ret":"obj","url":"http://localhost:9200/books/_search","tls":"","x":145.5,"y":348,"wires":[["3bfac993.e691be","9c37a652.477bf"]]},{"id":"3bfac993.e691be","type":"function","z":"b8db8e04.06efa8","name":"extract titles","func":"msg.payload = msg.payload.hits.hits.map(hit => hit._source.title);\nreturn msg;","outputs":1,"noerr":0,"x":145.5,"y":407,"wires":[["fa3a915d.bd9d3"]]},{"id":"9c37a652.477bf","type":"debug","z":"b8db8e04.06efa8","name":"","active":true,"console":"false","complete":"false","x":391.5,"y":347,"wires":[]}]