nodered/config/flows.json
[{"id":"fb78e68a.03f21","type":"tab","label":"Flow 1"},{"id":"b8db8e04.06efa8","type":"tab","label":"Flow 2"},{"id":"1885a826.a7dde8","type":"inject","z":"fb78e68a.03f21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":164.5,"y":200,"wires":[["fb2b9893.63d588"]]},{"id":"fb2b9893.63d588","type":"debug","z":"fb78e68a.03f21","name":"","active":true,"console":"false","complete":"true","x":575.5,"y":199,"wires":[]},{"id":"58ff22ff.aa2724","type":"http in","z":"b8db8e04.06efa8","name":"","url":"/search","method":"get","swaggerDoc":"","x":168.5,"y":184,"wires":[["2b888d58.a00332"]]},{"id":"fa3a915d.bd9d3","type":"http response","z":"b8db8e04.06efa8","name":"","x":450.5,"y":419,"wires":[]},{"id":"add052d8.b5b0d","type":"change","z":"b8db8e04.06efa8","name":"prep query","rules":[{"t":"set","p":"payload.query","pt":"msg","to":"{\"match_phrase\": {}}","tot":"json"},{"t":"move","p":"payload.q","pt":"msg","to":"payload.query.match_phrase.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.5,"y":242,"wires":[["5d57d1d2.46e948"]]},{"id":"5d57d1d2.46e948","type":"http request","z":"b8db8e04.06efa8","name":"get/books","method":"POST","ret":"obj","url":"http://localhost:9200/books/_search","tls":"","x":449.5,"y":305,"wires":[["3bfac993.e691be"]]},{"id":"3bfac993.e691be","type":"function","z":"b8db8e04.06efa8","name":"extract titles","func":"msg.payload = msg.payload.hits.hits.map(hit => hit._source.title);\nreturn msg;","outputs":1,"noerr":0,"x":449.5,"y":364,"wires":[["fa3a915d.bd9d3"]]},{"id":"8cdb8418.74485","type":"catch","z":"b8db8e04.06efa8","name":"","scope":null,"x":648.5,"y":288,"wires":[["5fa0deb3.9ecc38"]]},{"id":"5fa0deb3.9ecc38","type":"http response","z":"b8db8e04.06efa8","name":"","x":655.5,"y":363,"wires":[]},{"id":"2b888d58.a00332","type":"switch","z":"b8db8e04.06efa8","name":"q?","property":"payload.q","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":166.5,"y":250,"wires":[["add052d8.b5b0d"],["8b32dc98.4cc2c"]]},{"id":"8b32dc98.4cc2c","type":"change","z":"b8db8e04.06efa8","name":"400","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"error\": \"Query string 'q' missing.\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":164.5,"y":313,"wires":[["9c984a0f.239ec"]]},{"id":"9c984a0f.239ec","type":"http response","z":"b8db8e04.06efa8","name":"","x":164.5,"y":376,"wires":[]}]